<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/style/styles.css">
	<title>Jeddit - Debug</title>
</head>

<body>
  <header>
		<div class="navbar">
			<button><a href="/">Home</a></button>
			<button><a href="/debugpage">Debug</a></button>

			<% if (user === null || user === undefined) { %>
				<p class="login-status">You are not logged in</p>
				<button><a href="/users/login">Login</a></button>
				<button><a href="/users/register">Register</a></button>
			<% } else { %>
				<p class="login-status">You are <a href="/users/profile/<%= user.id %>" id="user-link"><%= user.username %></a></p>
				<form method="POST" action="/users/logout" class="logout-button">
					<button>Log out</button>
				</form>
			<% } %>
		</div>
	</header>
	
  <main>
    <div class="debug-reset-button">
      <button><a href="/debug_db">Debug DB</a></button>
      <br>
      <form action="/reset_db" method="post">
        <button>Reset DB</button>
      </form>
    </div>
  </main>
</body>

</html>