<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/style/styles.css">
	<title>Jeddit - List</title>
</head>

<body>
  <header>
		<div class="navbar">
			<button><a href="/">Home</a></button>
			<button><a href="/debugpage">Debug</a></button>

			<% if (user === null || user === undefined) { %>
				<p class="login-status">You are not logged in</p>
				<button><a href="/users/login">Login</a></button>
				<button><a href="/users/register">Register</a></button>
			<% } else { %>
				<p class="login-status">You are <a href="/users/profile/<%= user.id %>" id="user-link"><%= user.username %></a></p>
				<form method="POST" action="/users/logout" class="logout-button">
					<button>Log out</button>
				</form>
			<% } %>
		</div>
	</header>
	
	<main>
		<h1>List of subjeddits</h1>
		<ul>
			<% lists.forEach(subreddit => { %>
				<li><a href="/subs/show/<%= subreddit.name %>"><%= subreddit.name %></a></li>
			<% }); %>
		</ul>

		<% if (user === null || user === undefined) { %>
			<p></p>
		<% } else { %>
			<button><a href="/subs/create" class="create-subjeddits-button">Create a new subjeddit</a></button>
		<% } %>
	</main>
</body>

</html>